{
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "global-require": "off",
    "no-param-reassign": "off",
    "no-console": "off",
  },
}
